@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;&display=swap');

* {
    font-family: 'Sora', sans-serif;
    font-style: normal;
    outline: none;
    box-sizing: border-box;
    transition: all 0.3s ease-in;
    letter-spacing: 1px;
}
:root{
    --theme: #F2F4F5;
    --color: #2c3e50;
    --nav-color: #F8FBFE;
}
html{
    transition: color 0s;
}
html.dark{
    transition: color 0s;
    --theme: #1a1a1a;
    --color: #ebebeb80 ;
    --nav-color: #0E0D11;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 500;
}
a{
    color: #647eff;
    font-weight: 400;
}
strong{
    color: #42b983;
    font-weight: 400;
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Kaushan Script", cursive !important;
    background: var(--theme);
    color: var(--color)
}
.page{
    padding: 90px 5px;
}
.text-gradient {
    background: -webkit-linear-gradient(315deg,#42d392 25%,#647eff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 8px;
}

#app {
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
}