@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

* {
    font-family: 'Courgette', cursive;
    font-style: normal;
    outline: none;
    box-sizing: border-box;
    transition: all 0.5s;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 500;
}
a{
    color: #647eff;
}
strong{
    color: #42b983;
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Kaushan Script", cursive !important;
    color: #222121;
}
.page{
    padding-top: 90px;
}
.text-gradient {
    background: -webkit-linear-gradient(315deg,#42d392 25%,#647eff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 8px;
}

#app {
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

nav {
    width: 100vw;
    top: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #42b983;
    background: #fff;
    padding: 5px 100px 5px 100px;
    z-index: 900;
}

nav a {
    /* font-family: "Kaushan Script", cursive !important; */

}

nav img {
    width: 60px;
    height: 60px;
    display: inline;
}

nav span {
    font-size: 32px;
    font-family: 'Segoe Print';
}

nav ul {
    display: flex;
    font-size: x-large;
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav .logo {
    display: flex;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #323658;
}

nav a:hover {
    text-decoration: unset;
    color: unset;
}

nav a.router-link-exact-active {
    color: #42b983;
}

nav .menu-bar {
    display: flex;
    align-items: center;
}

.menu-bar i {
    font-size: x-large;
    margin: 0px 5px;
}
.menu-bar i:hover{
    cursor: pointer;
}
nav .rb-md-block {
    display: none;
}

nav .menu-bar a.router-link-exact-active {
    color: unset;
}

@media (max-width: 1080px) {
    nav {
        padding: 5px 45px;
        flex-wrap: wrap;
    }

    nav ul {
        flex-wrap: wrap;
    }

    nav img {
        width: 50px;
        height: 50px;
    }

    nav span {
        font-size: 22px;
    }

    nav ul li {
        margin: 0 5px;
    }

    nav a {
        font-size: large;
    }

    .menu-bar i {
        font-size: x-large;
    }
}

@media (max-width: 768px) {
    nav {
        padding: 15px;
        z-index: 8;
        height: 90px;
        justify-content: center;
    }

    nav img {
        width: 60px;
        height: 60px;
    }

    nav span {
        font-size: xx-large;
    }

    nav ul {
        width: 300px;
        height: 100vh;
        position: fixed;
        flex-direction: column;
        margin: 0;
        padding: 15px;
        background: #fff;
        box-shadow: 5px 8px 12px #eee;
        z-index: -99;
        border-top: 1px solid #42b983;
        top: 90px;
        left: -300px;
    }

    nav ul.active {
        left: 0;
    }

    nav ul li {
        margin: 15px 10px;
    }

    nav a {
        font-size: x-large;
    }

    nav .menu-bar {
        position: fixed;
        width: 100vw;
        justify-content: space-around;
        background-color: #fff;
        padding: 20px 20px;
        bottom: 0;
        box-shadow: -2px -1px 7px #eee;
    }

    nav .menu-bar a.router-link-exact-active {
        color: #42b983;
        background-color: #eee;
        padding: 10px;
        border-radius: 15px;
        transition: all 0.2s;
    }

    nav .rb-md-block {
        display: block;
    }
}




