
nav {
    width: 100vw;
    top: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #42b983;
    border-bottom-right-radius: 45px;
    background: #F8FBFE;
    padding: 5px 100px 5px 25px;
    z-index: 90;
  }
  
  nav a {
    /* font-family: "Kaushan Script", cursive !important; */
  }
  
  nav img {
    width: 60px;
    height: 60px;
    display: inline;
  }
  
  nav span {
    font-size: 32px;
    font-family: "Segoe Print";
  }
  
  nav .logo {
    display: flex;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: #323658;
  }
  
  nav a:hover {
    text-decoration: unset;
    color: unset;
  }
  
  nav a.active {
    color: #42b983;
  }
  
  nav .menu-bar {
    display: flex;
    align-items: center;
  }
  
  .menu-bar i {
    color: #050505;
    font-size: x-large;
    margin: 0px 6px;
  }
  nav .menu-bar svg{
    margin-top: 5px;
  }
  .menu-bar i:hover {
    cursor: pointer;
  }
  nav .rb-md-block {
    display: none;
  }
  
  nav .menu-bar a.active {
    color: unset;
  }
  
  .content {
    display: flex;
  }
  .sidebar {
    position: -webkit-fixed;
    position: fixed;
    display: flex;
    top: 0;
    width: 280px;
    height: 100vh;
    text-align: left;
    background: #F8FBFE;
    padding: 90px 10px 45px 10px;
    border-bottom-right-radius: 35px;
    box-shadow: -6px 11px 11px 0px #eee;  
    flex-direction: column;
    z-index: 5;
  }
  .sidebar .overflow-auto{
    height: 100%;
  }
  .sidebar .footer-sidebar{
    margin-top: 30px;
    width: 100%;
    display: flex;
  }
  .sidebar .footer-sidebar a{
    color: #2c3e50;
  }
  .sidebar .footer-sidebar i{
    font-size: xx-large;
    margin: 5px 13px;
  }
  .sidebar ul{
    font-size: 20px;
    list-style: none;
    padding-inline-start: 10px;
    margin-top: 25px;
  }
  .sidebar ul span{
    color: #213547;
    line-height: 20px;
    font-size: 22px;
    font-weight: 500;
  }
  .sidebar ul li{
    margin-top: 10px;
  }
  .sidebar ul a{
    margin-left: 20px;
    color: #3c3c3c;
  }
  .sidebar ul a.active{
    color: #42b983;
  }
  .page-data{
    /* background-color: #F2F4F5; */
    width: calc(100vw - 280px);
    min-height: 100vh;
    margin-left: 300px;
    padding: 90px 5px;
    text-align: left;
  }

   

  
  @media (max-width: 1080px) {
    nav {
      padding: 5px 45px;
      flex-wrap: wrap;
    }
  
    nav img {
      width: 50px;
      height: 50px;
    }
  
    nav a {
      font-size: large;
    }
  
    .menu-bar i {
      font-size: x-large;
    }
  }
  
  @media (max-width: 768px) {
    nav {
      padding: 15px;
      z-index: 8;
      height: 90px;
      justify-content: center;
    }
  
    nav img {
      width: 60px;
      height: 60px;
    }
  
    nav span {
      font-size: x-large;
    }
  
    nav ul.active {
      left: 0;
    }
  
    nav ul li {
      margin: 15px 10px;
    }
  
    nav a {
      font-size: x-large;
    }
  
    nav .menu-bar {
      position: fixed;
      width: 100vw;
      height: 60px;
      justify-content: space-around;
      background-color: #fff;
      padding: 20px 20px;
      bottom: 0;
      box-shadow: -2px -1px 7px #eee;
    }
    .menu-bar i{
      font-size: xx-large;
    }
    nav .menu-bar a.active {
      color: #42b983;
      background-color: #eee;
      padding: 10px;
      border-radius: 15px;
      transition: all 0.2s;
    }
  
    nav .rb-md-block {
      display: block;
    }
    .sidebar {
      left: -300px;
      padding-bottom: 85px ;
    }
    .sidebar.active{
      left: 0;
    }
    .page-data{
      width: 100vw;
      margin-left: 0;
    }
  }
  @media (max-width: 576px) {
    .menu-bar i{
      font-size: x-large;
    }
    .bottom-content i{
      font-size: x-large;
    }
    
  }

   .scale-slide-enter-active,
   .scale-slide-leave-active {
    z-index: -5;
     position: absolute;
     transition: all 0.85s ease;
   }
   .scale-slide-enter-from {
     left: -100%;
   }
   .scale-slide-enter-to {
     left: 0%;
   }
   .scale-slide-leave-from {
     transform: scale(1);
   }
   .scale-slide-leave-to {
     transform: scale(0.8);
   }
